<footer class="bg-light text-center text-lg-start border-top mt-5 pt-2 pb-2">
    <div class="container text-center text-md-start">
        <div class="row">
            <!-- 브랜드 정보 -->
            <div class="col-md-4 col-lg-5 col-xl-5 mb-2 footer-text">
                <h6 class="text-uppercase fw-bold">(주)Makify</h6>
                <p>챌린지를 통해 건강하고 의미 있는 일상을 만들어가는 플랫폼</p>
                <p>대표 : 오승민 | 사업자번호 : 등록안했음</p>
                <p>주소 : 서울특별시 야근구 커피로 24, 불타는개발센터 9층</p>
                <p>전화 : 02-404-0505 | 고객문의 : makify.team@gmail.com</p>
            </div>

            <!-- 링크 -->
            <div class="col-md-2 col-lg-3 col-xl-3 mb-md-0 mb-2 footer-text">
                <h6 class="text-uppercase fw-bold">서비스</h6>
                <p><a href="#" class="text-reset text-decoration-none">이용약관</a></p>
                <p><a href="#" class="text-reset text-decoration-none">개인정보처리방침</a></p>
                <p><a href="#" class="text-reset text-decoration-none">운영정책</a></p>
                <p><a href="https://forms.gle/STeLdyaJwnmzbkk9A" class="text-reset text-decoration-none">버그 리포트</a></p>
            </div>

            <!-- 연락처 -->
            <div class="col-md-2 col-lg-3 col-xl-3 mb-md-0 mb-2 footer-text">
                <h6 class="text-uppercase fw-bold">Contact</h6>
                <p><i class="bi bi-envelope"></i> makify.team@gmail.com</p>
                <p><i class="bi bi-github"></i> <a href="https://github.com/HiSeungmin/makify" class="text-reset text-decoration-none">GitHub</a></p>
            </div>
        </div>
    </div>

    <div class="text-center p-1 small text-muted border-top mt-2">
        © 2025 Makify. All rights reserved.
    </div>
</footer>